body{
    background-color: #FED049 ;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    color: #CFFDE1;
    text-shadow: 6px 6px black;
}
.screen{
    display: flex;
    flex-direction:column ;
    width: 400px;
    height: 150px;
    background-color: #CFFDE1;
    border-radius: 5px 5px 0px 0px;
}

.calculator{
    width: 400px;
    height: auto;
}


.buttons{
    position: relative;
    width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
}

.btn{
    width: 100px;
    height: 100px;
    color: white;
    background-color: #68B984;
    box-shadow: none;
    border: none;
    font-size:40px;
}

.btn:hover{
    color: black;
    background-color: #87eead
}

.text{
    width: 100%;
    height: 100px;

}
.func-btn{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: flex-end;
    justify-content: space-around;
}
.clear{
    background-color: rgb(190, 40, 40);
    color: white;
    font-size:25px;
    border: none;
    box-shadow:none;
    height:50px;
    width:200px;

}
.delete{
    background-color: rgb(18, 108, 192);
    color: white;
    font-size:25px;
    border: none;
    box-shadow:none;
    height:50px;
    width:200px;

}

.clear:hover{
    background-color:rgb(255, 0, 0);
}

.delete:hover{
    background-color: blue;
}